.latestTrends-container {
    background: var(--primary-light);
    max-width: 900px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 3rem;

    &>p {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    &>div {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        overflow: hidden;
        flex-wrap: wrap;
        gap: 2rem;

        div {
            overflow: hidden;
        }

        img {
            border-radius: .5rem;
            width: inherit;
            object-fit: cover;
            height: 20rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    &>div+p {
        margin-top: 3rem;
    }

    ul {
        list-style-type: none;
    }
}