.productDisplay-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 2rem;
    font-size: 1.4rem;

    &>div {
        max-width: 350px;
        height: 350px;
        position: relative;

        i {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            z-index: 999;
            cursor: pointer;
        }

        div {
            width: 100%;
            height: 80%;
            overflow: hidden;
            margin-bottom: 1rem;
            position: relative;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            p {
                position: absolute;
                bottom: -4.1rem;
                text-align: center;
                width: 100%;
                padding: 1rem;
                color: var(--primary-light);
                background-color: rgba(0, 89, 255, 0.815);
                cursor: pointer;
                transition: bottom 0.3s;
            }

            &:hover p {
                bottom: 0;
            }
        }
    }

    &>p {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .productDisplay-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}