// Google fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


// Variables
:root {
    --primary-light: #ffffff;
    --primary-dark: #0000;
    --primary-yellow: #ffe600;
    --primary-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}