.product-container {
    padding: 3rem;

    &>p {
        padding: 1rem 0;
        font-size: 3rem;
        font-weight: 200;
    }

    &>div {
        display: flex;
        gap: 4rem;
    }
}

@media (max-width: 600px) {
    .product-container .products-section {
        flex-direction: column;
    }
}