.search-main-container {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding: 3rem;

    .logo {
        position: absolute;
        height: 4rem;
        right: 3rem;
    }
}