.search-main-container {
    width: 100vw;
    min-height: 100vh;
    background: url("../../assets/bg_image.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    padding: 3rem;
    font-size: 1.6rem;
}

@media (max-width: 1000px) {
    .search-main-container {
        background-position: 50% 0;
        background-size: auto 100vh;
    }
}